*{margin: 0; padding: 0; box-sizing: border-box;}

.turno-display {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.numero-turno {
  font-size: 6rem;
  font-weight: bold;
  margin: 0;
}

.texto-turno {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

/* botones */

.boton-container {margin: 5px;}

.turno-display > .boton-container:first-of-type{
  margin-top: 30px;
  width: 200px;
  display: flex;
  justify-content: space-evenly;
}

.boton.anterior {padding: 7px 10px 7px 10px; background-color: #d06666; color: white;
  border: 0; border-radius: 100px;
  cursor: pointer;
}

button.boton.anterior:hover {background-color: #dc4f4f;}

.boton.siguiente {
  padding: 7px 10px 7px 10px;
  background-color: #62db75; color: white;
  border: 0; border-radius: 100px;
  cursor: pointer;
}

.boton.siguiente:hover { background-color: #2ac541;}

.boton.reset {
  padding: 5px 10px 5px 10px;
  background-color: #424242;
  color: white;
  border: 1px solid transparent;
  border-radius: 100px;
  cursor: pointer;
}

.boton.cambiarTurno {
  padding: 5px 10px 5px 10px;
  background-color: #a164be;
  color: white;
  border: 1px solid transparent;
  border-radius: 100px;
  cursor: pointer;
  margin-top:10px;
}

.boton.reset:hover {
  background-color: white;
  color: #424242;
  border: 1px solid #424242;
}